{% extends 'Backend/backend_layout.html.twig' %}

{% block title %}Nouveau Tag{% endblock %}

{% block body %}
    <h2>Créer un nouveau tag</h2>

    {{ include('Backend/tag/_form.html.twig') }}
    <div class="d-flex justify-content-end">
        <a class= "btn btn-secondary" href="{{ path('backend_tag_index') }}">Retour</a>
    </div>

{% endblock %}
